<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <h1>🛠 Admin Panel</h1>
    <a href="/">User View</a>
</div>

<!-- SEARCH BAR -->
<div style="text-align:center; margin:20px;">
    <form method="get" action="/admin">
        <input type="text" name="search" placeholder="Search hospital name..."
               value="{{ search }}"
               style="padding:10px; width:260px; border-radius:8px; border:1px solid #ccc;">
        <button type="submit"
                style="padding:10px 15px; border:none; background:#2563eb; color:white; border-radius:8px;">
            Search
        </button>
    </form>
</div>

<div class="container">

{% for h in hospitals %}
<div class="card">

    <h3>{{ h.name }}</h3>

    <form method="POST" action="/update_beds">

        <input type="hidden" name="id" value="{{ h.id }}">

        <label>General Beds</label><br>
        <input type="number" name="general_beds" value="{{ h.general_beds }}" min="0"><br><br>

        <label>ICU Beds</label><br>
        <input type="number" name="icu_beds" value="{{ h.icu_beds }}" min="0"><br><br>

        <button type="submit">Update</button>

    </form>

</div>
{% endfor %}

</div>

</body>
</html>
