<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2 class="page-title">Admin Login</h2>

<form method="POST" class="card login">
    <input name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
</form>

</body>
</html>
